
  .style1
        {
            width: 856px;
        }
        .style2
        {
            width: 199px;
        }
        .style4
        {
            width: 509px;
        }
        .style6
        {
            height: 99px;
            width: 199px;
        }
        .style8
        {
            width: 856px;
            height: 26px;
        }
        .style13
        {
            width: 312px;
        }
        .style14
        {
            width: 192px;
        }
        .style19
        {
            height: 38px;
        }
        .style20
        {
        }
        .style21
        {
            width: 517px;
            height: 99px;
        }
        .style22
        {
            width: 509px;
            height: 99px;
        }
        .style23
        {
            width: 268435520px;
        }
        .style24
        {
            width: 268435488px;
        }
        .style25
        {
            width: 856px;
            height: 5px;
        }
        .style26
        {
            width: 856px;
            height: 28px;
        }
        .style28
        {
            width: 199px;
            height: 42px;
        }
        .style29
        {
            width: 509px;
            height: 42px;
        }
        .style30
        {
            width: 268435520px;
            height: 42px;
        }
        .style31
        {
            width: 268435488px;
            height: 42px;
        }
        .style32
        {
            width: 856px;
            height: 42px;
        }
        .style33
        {
            height: 42px;
        }
        .style34
        {
            width: 268435328px;
            height: 28px;
        }
        .style35
        {
            width: 268435328px;
            height: 26px;
        }
 .style1
        {
            width: 856px;
        }
        .style2
        {
        }
         .style41
        {}
        .style42
        {
            width: 369px;
        }
        .style43
        {
        }
        #TextArea1
        {
            height: 143px;
            width: 356px;
        }
        .style44
        {
            width: 209px;
        }
        .style45
        {
            width: 215px;
        }
        .col1, .col2
{
    float: left;
    width: 150px;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 14px;
}      
.rcbHeader ul,
.rcbFooter ul,
.rcbItem ul, .rcbHovered ul, .rcbDisabled ul
{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.style36
        {
            width: 397px;
        }
        .style37
        {
            width: 102px;
        }
        .style38
        {
            width: 204px;
        }
        .style40
        {
            width: 300px;
        }
        .style5
        {
            width: 222px;
        }
        .style39
        {
            width: 233px;
        }
        .style7
        {
            width: 268435408px;
        }