<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="WebAPIAddress" value="http://192.168.17.203:205/" />
    <add key="AFG_DellBoomi" value="BoomiWSTest@alfuttaim-PXCXOD!fe981fd4-289b-442e-9c20-74673b35d642" />
    <add key="SessionWarning" value="450" />
    <add key="SureScripts.SureScripts" value="http://74.208.125.142:8082/SureScripts.asmx" />
    <add key="SpeechDomain" value="home..net,.net,122.176.89.160,localhost:24,a26:24" />
    <add key="SpeechSource" value="http://74.96.71.5:8080/sphRecApp/wami.js,http://74.96.71.5:8080/sphRecApp/wami.js,http://74.96.71.5:8080/sphRecApp/wami.js,http://74.96.71.5:8080/sphRecApp/wami.js,http://74.96.71.5:8080/sphRecApp/wami.js" />

      <add key="SSRSFolder" value="Sanar_UATReports" />
    <add key="SysUser" value="Administrator" />
    <add key="SysPassword" value="C!sco@123" />

    <!--<add key="SSRSFolder" value="BLKReports" />
    <add key="SysUser" value="user" />
    <add key="SysPassword" value="123" />-->

    <add key="SysDomain" />
    <add key="aspnet:MaxHttpCollectionKeys" value="700000" />
    <add key="AutoSave" value="0" />

    <!--<add key ="FTP" value="ftp://192.168.1.248/!administrator!Chaitanya%44c"/>
    <add key="LabResultPath" value="/PatientDocuments/LabResult/" />
    <add key ="FileFolder" value="PatientDocuments/"/>
    <add key="folderpath" value="\\192.168.1.248\" />
    -->
    <add key="Split" value="!" />

    <add key ="FTP" value="ftp://demoserver//!App-admin!india@123"/>
    <add key="LabResultPath" value="/PatientDocuments/LabResult/" />
    <add key="FileFolder" value="PatientDocuments/" />
    <add key="folderpath" value="\\172.16.10.11\" />

    <add key="FileServerAdd" value="akhil31:8020" />

    <add key="eclaimLinkAe.ValidateTransactions" value="http://www.eclaimlink.ae/dhpo/ValidateTransactions.asmx" />
    <add key="EclaimWebServices.webservices" value="https://www.shafafiya.org/v2/webservices.asmx" />
    <add key="EclaimWebServices.validatetransactions" value="http://www.eclaimlink.ae/dhpo/validatetransactions.asmx" />
    <add key="eRXEclaimlink.eRxValidateTransaction" value="http://eclaimlink.ae/dhpo/eRxValidateTransaction.asmx" />
    <add key="erxValidateTransactions.eRxValidateTransaction" value="http://qa.eclaimlink.ae/dhpo/eRxValidateTransaction.asmx" />
    <add key="Telerik.Web.UI.Window.RenderMode" value="lightweight" />
  </appSettings>
  <connectionStrings>

    <add connectionString="server=192.168.17.200;database=AKHILHISTESTING;uid=sa;pwd=Sanar@2022;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=192.168.17.200;database=AKHILHISTESTING;uid=sa;pwd=Sanar@2022;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=192.168.17.200;database=AKHILHISTESTING;uid=sa;pwd=Sanar@2022;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>

    <!--sagar-->
    <!--<add connectionString="server=172.16.0.51;database=Dhoot;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=172.16.0.51;database=Dhoot;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=172.16.0.51;database=Dhoot;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--sagar-->
    <!--<add connectionString="server=172.16.0.51;database=WebHIS;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=172.16.0.51;database=WebHIS;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=172.16.0.51;database=WebHIS;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=172.16.5.225;database=WebHIS;uid=asplsa;pwd=Aspl$sa$1234;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=172.16.5.225;database=WebHIS;uid=asplsa;pwd=Aspl$sa$1234;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=172.16.5.225;database=WebHIS;uid=asplsa;pwd=Aspl$sa$1234;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=akhilserver2016;database=Common_Dhoot;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=Common_Dhoot;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=Common_Dhoot;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=aspl34;database=DbSNDH;uid=sa;pwd=123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=aspl34;database=DbSNDH;uid=sa;pwd=123s;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=aspl34;database=DbSNDH;uid=sa;pwd=123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=akhil-server;database=NanavatiDB10052018;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhil-server;database=NanavatiDB10052018;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhil-server;database=NanavatiDB10052018;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=111.93.207.229;database=SMIH_NEW;uid=sa;pwd=cfs123**;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=111.93.207.229;database=SMIH_NEW;uid=sa;pwd=cfs123**;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=111.93.207.229;database=SMIH_NEW;uid=sa;pwd=cfs123**;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=akhilserver2016;database=LMH_DB22082019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=LMH_DB22082019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=LMH_DB22082019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=akhilserver2016;database=ApolloDhaka_04042019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=ApolloDhaka_04042019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=ApolloDhaka_04042019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--<add connectionString="server=akhilserver2016;database=Sharda_hospital05072019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhilserver2016;database=Sharda_hospital05072019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhilserver2016;database=Sharda_hospital05072019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--live-->
    <!--<add connectionString="server=192.168.1.248;database=AKHILHISTESTING;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=192.168.1.248;database=AKHILHISTESTING;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=192.168.1.248;database=AKHILHISTESTING;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--UAT-->
    <!--<add connectionString="server=192.168.1.250;database=AKHILHISTESTINGUAT;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=192.168.1.250;database=AKHILHISTESTINGUAT;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=192.168.1.250;database=AKHILHISTESTINGUAT;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--<add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--<add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--<santavita Live></santavita>-->
    <!--<add connectionString="server=172.16.1.101;database=WebHIS;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=172.16.1.101;database=WebHIS;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=172.16.1.101;database=WebHIS;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--<add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhil-server;database=SNHDB_05022019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=aspl4;database=APEXDB;uid=sa;pwd=123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=aspl4;database=APEXDB;uid=sa;pwd=123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=aspl4;database=APEXDB;uid=sa;pwd=123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--<add connectionString="server=akhilserver2016;database=Chaitanya22052019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=Chaitanya22052019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient"/>
    <add connectionString="server=akhilserver2016;database=Chaitanya22052019;uid=sa;pwd=ASPL@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient"/>-->

    <!--Live-->
    <!--<add connectionString="server=CHAITANYASERVER;database=AKHILHISTESTING;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=CHAITANYASERVER;database=AKHILHISTESTING;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=CHAITANYASERVER;database=AKHILHISTESTING;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <!--UAT-->
    <!--<add connectionString="server=CHAITANYASERVER1;database=AKHILHISTESTINGUAT;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="EMRConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="server=CHAITANYASERVER1;database=AKHILHISTESTINGUAT;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="akl" providerName="System.Data.SqlClient" />
    <add connectionString="server=CHAITANYASERVER1;database=AKHILHISTESTINGUAT;uid=sa;pwd=sa@123;MultipleActiveResultSets=True; MAX POOL SIZE=30000" name="vidal" providerName="System.Data.SqlClient" />-->

    <add name="MongoServerSettings" connectionString="mongodb://127.0.0.1:27017/AutoSaveDb" />
    <add name="WebcamService" connectionString="http://172.26.1.204:8089/cs.aspx" />
    <add name="WebcamRoot" connectionString="http://13.235.220.196:535/" />
    <add name="key" connectionString="ASPL@!@#$P@$$W0rD" />
    <!--<add name="rsvr" connectionString="CHAITANYASERVER" />-->
    <add name="rsvr" connectionString="192.168.17.206" />
    <add name="EventLogConnectionString" connectionString="server=192.168.17.200;database=AKHILHISTESTING;uid=sa;pwd=Sanar@2022;MultipleActiveResultSets=True; MAX POOL SIZE=30000" providerName="System.Data.SqlClient" />
    <add connectionString="http://www.uptodate.com" name="UTDLink" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!-- The follwoing Health Monitoring configuration logs all error events -->
    <healthMonitoring enabled="true">
      <eventMappings>
        <clear />
        <!-- Log ALL error events -->
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
        <!-- Log application startup/shutdown events -->
        <add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647" />
      </eventMappings>
      <providers>
        <clear />
        <!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
        <!--<add connectionStringName="server=akhil-server;database=Kochi14072015;uid=user;pwd=123456;MultipleActiveResultSets=True; MAX POOL SIZE=30000" maxEventDetailsLength="1073741823" buffer="false" bufferMode="Notification" name="SqlWebEventProvider1" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <!--<add key="akl" value="server=akhil-server;database=ElabDB1;uid=user;pwd=123456;MultipleActiveResultSets=True; " />-->
        <add connectionStringName="EventLogConnectionString" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider" />
      </providers>
      <rules>
        <clear />
        <add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" custom="" />
        <add name="Application Events Default" eventName="Application Events" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" custom="" />
      </rules>
    </healthMonitoring>
    <identity impersonate="true" />
    <trust level="Full" />
    <httpRuntime maxRequestLength="2097151" requestValidationMode="2.0" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <caching>
      <cache percentagePhysicalMemoryUsedLimit="90" privateBytesLimit="2000000000" />
    </caching>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.SqlServer.ConnectionInfo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.SqlServer.SmoExtended, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
      <codeSubDirectories>
        <add directoryName="VB_Code" />
        <add directoryName="CS_Code" />
      </codeSubDirectories>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".nhPlus" loginUrl="Login.aspx" protection="All" timeout="480" path="/" slidingExpiration="true" />
    </authentication>
    <!--<sessionState cookieless="UseCookies" mode="StateServer" sqlCommandTimeout="360000" stateConnectionString="tcpip=akhil-server201:42424" timeout="480" compressionEnabled="true" />-->
    <!--mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"-->
    <sessionState sqlCommandTimeout="360000" cookieless="false" timeout="360000" mode="InProc" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
             <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
            </customErrors>

            -->
    <customErrors mode="Off" defaultRedirect="/">
      <!--<error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />-->
    </customErrors>
    <pages validateRequest="false" theme="DefaultControls" enableEventValidation="false" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <!--<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2011.1.413.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" verb="*" validate="false" />-->
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <!--Spell Check-->
    <add verb="*" validate="false" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI"/>

    </httpHandlers>
    <globalization culture="en-US" enableClientBasedCulture="true" uiCulture="en-US" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" />
    </handlers>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ios_ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="ios_Service">
        <endpoint address="" behaviorConfiguration="ios_ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="ios_Service" />
      </service>
    </services>

    <!--<client>
      <endpoint address="https://eclaimlink.dimensions-healthcare.net/DHCEG/gateway.asmx" binding="basicHttpBinding" bindingConfiguration="GatewaySoap" contract="CEED_DM.GatewaySoap" name="GatewaySoap" />
      <endpoint address="https://mr.eclaimlink.ae/SearchIdentity.svc/basic" binding="basicHttpBinding" bindingConfiguration="basicEndpoint" contract="SearchEID.ISearchIdentity" name="basicEndpoint" />
    </client>-->
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>