
.clinicalBtn-Right { background:#0782be; color:#fff; font-size:12px; font-weight:normal; border:none; margin:5px 0px 5px 5px; padding:4px 8px; border-radius:3px; float:right;}
.clinicalBtn-Right:hover { background:#056391;color:#fff; text-decoration:none;}




.Light-bgTop { float:left; padding:0em 0 0 0; margin:0em 0 0 0; width:100%; background-color:#C1E5EF !important;}

.Light-bgTopText {float:left; padding:0em 0 0 0; margin:0em 0 0 0;}
.Light-bgTopText h2 { font-size:13px; color:#232323; font-weight:500; float:left; line-height:2.2em; margin:0; padding:0;}
.Light-bgTopText-Message {float:left; padding:0em 0 0 0; margin:0em 0 0 0;}
.Light-bgTopText-Message h2 { font-size:13px; color:#232323; font-weight:bold; float:left; line-height:2.2em; margin:0 5px 0 0; padding:0;}
.Light-bgTopText-Message h2 #ctl00_ContentPlaceHolder1_lblMessage { width:100% !important; float:left !important; margin:0 !important; padding:0 !important;}

.ClinicalTable { float:left; padding:0.5em 0 0 0; margin:0; width:100%; background-color:#fff;}



/****** Allergy Master *******/
.AllergyDiv { float:left; margin:5px 0; padding:0;}

.AllergyText {float:left; margin:0; padding:0; font-size:13px; width:125px;}
.AllergyText01 {float:left; margin:0; padding:0; font-size:13px; width:155px;}
.AllergyInput { float:left; margin:0; padding:0 5px;}
.AllergyInput input { float:left; margin:0; padding:1px 5px; font-size:13px; color:#232323; outline:none; width:432px;}
.AllergyInput select { float:left; margin:0; padding:1px 5px; font-size:13px; color:#232323; outline:none; width:432px;}
