body{font-family: 'Roboto', sans-serif; font-size:14px;position:absolute: top:0px; z-index:1;}
.bg1{ /*background:#005a9f;*/ margin-bottom:20px; }
.head_main{padding:20px 0px;  overflow:hidden;}
.logo_client img,.logo_main img, .left_image img{width:100%}
.logo_main,.logo_client{max-width:200px;}
.cl_white{color:#fff!important;}
.relativ{position:relative;}
.licence{position:absolute; top:-15px; color:#fff; right:0px; font-size:12px;}
.body_main{ height:100vh;
	
	background: rgba(142,122,199,1);
background: -moz-linear-gradient(top, rgba(142,122,199,1) 0%, rgba(207,232,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,151,214,1)), color-stop(100%, rgba(207,232,255,1)));
background: -webkit-linear-gradient(top, rgba(70,151,214,1) 0%, rgba(207,232,255,1) 100%);
background: -o-linear-gradient(top, rgba(70,151,214,1) 0%, rgba(207,232,255,1) 100%);
background: -ms-linear-gradient(top, rgba(70,151,214,1) 0%, rgba(207,232,255,1) 100%);
background: linear-gradient(to bottom, rgba(70,151,214,1) 0%, rgba(142,122,199,1207,232,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e7ac7', endColorstr='#cfe8ff', GradientType=0 );
}

.form_main{ width:100%;}
.form_main .form-group,.form_main .form-group1{ margin-bottom:15px;}
.form_main .form-group input[type=text],.form_main .form-group input[type=password]{ background:#fff; border:1px solid #bdc7d8; padding:7px; color:#9197a3; width:100%; font-size:17px; font-weight:500; border-radius: 4px;}
.form-group1 input[type=text],.form_main .form-group1 input[type=password]{  padding:7px!important; color:#9197a3; width:100%; font-size:17px; font-weight:500; }
footer{padding:10px 0px; font-size:12px; /*background:#fff;*/ position:absolute; bottom:0px; width:100%;}
div.RadComboBox_Simple table td.rcbInputCellLeft {
    border-width:0px!important;
}
.form_main div.RadComboBox_Simple table td.rcbInputCell {
    height: 18px;
    line-height: 18px;
    /*border-top: 1px solid #bdc7d8!important;
    border-left: 1px solid #bdc7d8!important;
    border-right: 1px solid #bdc7d8!important;
    border-bottom: 1px solid #bdc7d8!important;*/
    border: none;
    background: #fff;
    border-radius: 4px;
}

input.rcbInput { border: 1px solid #bdc7d8 !important; border-radius: 4px; }

.form_main div.RadComboBox_Simple table td.rcbArrowCell
{		/*border:1px solid #bdc7d8 !important;
		 border-top: 1px solid #bdc7d8 !important;
		 
		 border-bottom: 1px solid #bdc7d8 !important;
		 border-right: 1px solid #bdc7d8 important;*/
         border: none;
         position: absolute;
    margin-left: -25px;
    margin-top: 8px;
	}

.right_bx_padding{ background: #fff; padding:20px; overflow:hidden; margin-bottom:20px;}
.right_bx_padding h1 { color: #51a6e6; margin-bottom: 30px; font-weight: 400; font-family: 'Roboto', sans-serif;}



@media only screen and (min-width:320px){
	.body_main{ height:100%;}
	footer{ bottom:auto;}
}
@media only screen and (min-width:992px){
	.body_main{ height:100vh;}
	footer{ bottom:0px;}
}
.rwCloseButton{position: absolute;left:97%;}

.form_main .RadComboBox.RadComboBox_Simple table { width: 100%;}
